@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
    --main-color: #000000;
    --second-color:#f6f6f6;
    --third-color:#22d4fd;
    --hover-color:#272727;
    --main-font: 'Krona One', sans-serif;
    --second-font: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;

}

body {
    
    box-sizing: border-box;
    background-color: var(--main-color);
    color: var(--second-color)
}

.menu-links{
    font-family: var(--second-font);
    font-size: 24px;
    font-weight: 600;
    color: var(--third-color);
    text-decoration: none;
    
}

.menu-links:hover{
    transform: scale(1.1);
    transition: 0.4s;
    color: var(--second-color);
}

header{
    padding: 2% 0% 0% 15%;
}

header > nav{
    display: flex;
    gap: 80px;
}


.destaque-titulo {
    color:var(--third-color);
}

.container {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.container-content {
    width: 750px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 5%;
    

}

.container-content-title {
    font-size: 35px;
    font-family: var(--main-font);

    
}

.container-content-paragraph {
    font-size: 24px;
    font-family: var(--second-font);
    
}

.hobbies-list{
    font-size: 22px;
    font-family: var(--second-font);

    
}


#imagem-jhin{
    width: 60%;
}
#imagem-jhin:hover{
    transform: scale(1.1);
    transition: .4s;
}




.content-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.subtitle-links {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 24px;
}

#linkedin-button,
#github-button {

    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--second-color);
    width: 378px;
    text-align: center;
    border: 2px solid var(--third-color);
    border-radius: 16px;
    font-size: 24px;
    padding: 24.5px 0;
    text-decoration: none;
    font-family: var(--second-font);
    font-weight: 600;


}

#linkedin-button:hover {
    background-color: var(--hover-color);
    transform: scale(1.1);
    transition: .4s;
    cursor: pointer;
}

.download-button{

    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--second-color);
    width: 378px;
    text-align: center;
    border: 2px solid var(--third-color);
    border-radius: 16px;
    font-size: 24px;
    padding: 24.5px 0;
    text-decoration: none;
    font-family: var(--second-font);
    font-weight: 600;


}
ul li {
    padding-bottom: 10px;
}
.download-button:hover{
    transform: scale(1.05);
    transition: 0.4s;
}

#github-button:hover {
    background-color: var(--hover-color);
    transform: scale(1.1);
    transition: .4s;
    cursor: pointer;
}

#imagem-lucas:hover {
    transform: scale(1.05);
    transition: .4s;
}

.dev-by{
    padding:36px;
    color: var(--main-color);
    background-color: var(--third-color);
    text-align: center;
    font-family: var(--second-font);
    font-size: 24px;
    font-weight: 400;
}