@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --main-color: #000000;
    --second-color: #f6f6f6;
    --third-color: #22d4fd;
    --hover-color: #272727;
    --main-font: 'Krona One', sans-serif;
    --second-font: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;

}

body {

    box-sizing: border-box;
    background-color: var(--main-color);
    color: var(--second-color)
}

.menu-links {
    font-family: var(--second-font);
    font-size: 24px;
    font-weight: 600;
    color: var(--third-color);
    text-decoration: none;

}

.menu-links:hover {
    transform: scale(1.1);
    transition: 0.4s;
    color: var(--second-color);
}

header {
    padding: 2% 0% 0% 15%;
}

header>nav {
    display: flex;
    gap: 80px;
}


.destaque-titulo {
    color: var(--third-color);
}

.container {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.container-content {
    width: 750px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 5%;


}

.container-content-title {
    font-size: 35px;
    font-family: var(--main-font);


}

.container-content-paragraph {
    font-size: 24px;
    font-family: var(--second-font);

}

.hobbies-list {
    font-size: 22px;
    font-family: var(--second-font);


}


#imagem-jhin {
    width: 60%;
}

#imagem-jhin:hover {
    transform: scale(1.1);
    transition: .4s;
}




.content-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.subtitle-links {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 24px;
}

#linkedin-button,
#github-button {

    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--second-color);
    width: 378px;
    text-align: center;
    border: 2px solid var(--third-color);
    border-radius: 16px;
    font-size: 24px;
    padding: 24.5px 0;
    text-decoration: none;
    font-family: var(--second-font);
    font-weight: 600;


}

#linkedin-button:hover {
    background-color: var(--hover-color);
    transform: scale(1.1);
    transition: .4s;
    cursor: pointer;
}

.download-button {

    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--second-color);
    width: 378px;
    text-align: center;
    border: 2px solid var(--third-color);
    border-radius: 16px;
    font-size: 24px;
    padding: 24.5px 0;
    text-decoration: none;
    font-family: var(--second-font);
    font-weight: 600;


}

ul li {
    padding-bottom: 10px;
}

.download-button:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

#github-button:hover {
    background-color: var(--hover-color);
    transform: scale(1.1);
    transition: .4s;
    cursor: pointer;
}

#imagem-lucas{
    width: 50%;
    margin-top: 10px;
}



#imagem-lucas:hover {
    transform: scale(1.05);
    transition: .4s;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--main-font);
}

input {
    padding: 8px;
}

#submit,
#cancel {
    padding: 5px;
    margin-top: 10px;
    font-family: var(--main-font);
    font-size: 22px;
    width: 150px;
    background-color: var(--third-color);
    margin-right: 100px;
    border-radius: 16px;

}

#submit:hover,
#cancel:hover {
    background-color: var(--hover-color);
    color: var(--second-color);
    transform: scale(1.1);
    transition: .27s;
}

#mensagem {
    padding: 50px;
}

textarea {
    resize: vertical;
    /* ou resize: none; para impedir o redimensionamento */
    padding: 10px;
    /* ajuste o valor conforme necessário */
    box-sizing: border-box;
    /* inclua isso para evitar problemas de tamanho do elemento */
}

.dev-by {
    padding: 36px;
    color: var(--main-color);
    background-color: var(--third-color);
    text-align: center;
    font-family: var(--second-font);
    font-size: 24px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    body {
        padding: 0 20px;
    }

    header {
        padding: 2% 0% 0% 10%;
    }

    .menu{
        flex-direction: column;
        gap: 10px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        padding: 8% 5%;
    }

    .container-content {
        width: 100%;
        margin-right: 0;
    }

    #imagem-jhin {
        width: 80%;
    }

    #imagem-contato{
        width: 50%;
        margin-top: 20px;
    }

    .content-links {
        flex-direction: column;
        justify-content: center;
    }

    #linkedin-button,
    #github-button {
        width: 100%;
    }

    .download-button {
        width: 100%;
    }

    .dev-by{
        padding: 15px;       
        
    }
    
    
}